@model IEnumerable<Message>
@{

}
<h2>Messages</h2>

<div class="row">
    <div class="col-10"></div>
    <div class="col-2">
        <a asp-action="AddMessage" asp-controller="Home" class="btn btn-info">Add New Message</a>
    </div>
</div>

<table class="table table-striped my-2">
    <tr>
        <th>Subject</th>
        <th>Body</th>
        <th>Created on</th>
        <th></th>
    </tr>

    @foreach (var message in Model)
    {
        <tr>
            <td>@message.Subject</td>
            <td>@message.Body</td>
            <td>@message.CreatedOn.ToString("dd-MM-yyyy")</td>
            <td>
                <a asp-action="DeleteMessage" asp-controller="Home" asp-route-id="@message.Id" class="btn btn-danger" onclick="return window.confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    }
</table>

