@model LibraryItemDisplayModel
@{

}
<main role="main">

    <section class="jumbotron text-center ">
        <div class="container py-5">
            <h1 class="jumbotron-heading">About Sydenham Library</h1>
            <p class="lead text-muted">
                The Sydenham library is established in July 1925, by the amalgamation of the Sydenham library & the Pettah library. At the beginning the library had 3 departments, The Reading Room, the Lending Room & the Reference Library. It had seven members on the staff, with late Mr. S.C Blok as the Librarian.

            </p>
            <p class="lead text-muted">
                By now, the library has a collection of nearly one million books, 57 newspapers & 111 periodical titles in all 3 languages, Sinhala, Tamil & English.

                It expands its services to 13 branches, Mobile Service & Book Box Projects to under privileged children in shanties. Now it has 5 departments, 7 service providing points and 105 staff members.
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
               
            </div>
        </div>
    </div>

</main>

