@model ReservationDetailModalDTO

<div class="modal fade" id="modal-@Model.DivId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reservation Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Type</th>
                        <th>Quantity</th>
                    </tr>
                    @foreach (var item in Model.ReservationDetail)
                    {
                        <tr>
                            <td>@item.LibraryItem.Title</td>
                            <td>@item.LibraryItem.Subject.SubjectName</td>
                            <td>@item.LibraryItem.Type</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>